*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 3000px;
}
.indie-flower-regular {
    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-style: normal;
}
.gowun-dodum-regular {
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
}  
body{
    background-color: #faf7f7 ;
}
header{
   height: 400px ; 

}
#header-main{
    height: 100vh;
    background-image: url(images/img-main.jpg);
    background-position: center;
}
#header-main h1{
    font-size: 225px;
    text-align: right;
    padding: 6vh 6vw;
}
header a{
    text-decoration: none;
    color: rgba(218, 165, 32, 0.63) ;
}
header h1{
    font-size: 125px;
    text-align: center;
    padding-top: 60px ;
    color: rgba(218, 165, 32, 0.63);
    white-space: nowrap;
}
header ul{
    font-size: 50px;
    text-decoration: none;
    list-style-type: none;
    text-align: right;
    padding: 15vh 10vw;
}
header ul li{
padding:0px 0px 20px 0px ;
}
header ul li a{
    border-bottom: 2px solid;
    border-radius: 2px;
    white-space: nowrap;
    transition: 0.1s ease;
}
header ul li a:hover{
    border-bottom: 2px solid;
    border-radius: 2px;
    white-space: nowrap;
    color: rgb(241, 181, 0);
    transition: 0.3s ease;
}
content{
    display: flex;
    flex-wrap: wrap ;
    flex-direction: column;
    align-items: center;
    height: 2500px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.content-info{
    height: 160px;
}
.content-photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 900px;
}
.content-photo img{
    transition: 0.3s ease ;
    height: 660px;
    padding: 10px;
}
.content-photo img:hover{
    transition: 0.3s ease ;
    width: 470px;
    height: 680px;
}
.section-photo{ 
    display: flex;
    align-items: center;
}
#section-main{
    height: 1700px;
    border: 1px solid transparent;
    border-top: rgba(239, 238, 238, 0.661);
   
    
}
#section-main h2{
    font-size: 125px;
    margin: 200px 0px 0px 0px;
    color: rgba(218, 165, 32, 0.63);
    text-align: center;
    width: 100%;
    white-space: nowrap;
}
#section-main h3{
    font-size: 45px;
    margin: 0px 0px 60px 0px;
    color: rgba(218, 165, 32, 0.63);
    text-align: center;
    width: 100%;
    white-space: nowrap;
}
article{
    height: 313px;
    display: flex;
    justify-content: center;
}
article p{
    font-size: 35px;
    margin: 80px 0px;
    text-align: center;
    width: 50%;
}
header h2{
    height: 100px;
    font-size: 30px;
    padding-bottom: 58px;
    text-align: center;
    align-content: center;
}
figure{
    margin: 2px 18px ;
    color: #F6F1F1;
    transition: 0.1s ease ;
    font-size: 20px;
}
img{

    width: 450px;
}
.icon{
    transition: 0.3s ease;
    height: 80px;
    width: 80px;
}
.icon:hover{
    transition: 0.4s ease ;
    
    height: 96px;
    width: 96px;
}
figure:hover{
    transition: 0.3s ease ;
    color: black;
}
figcaption{
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 5px;
}
.color-1:hover{
    color: rgb(235, 45, 203);
}
.color-2:hover{
    color: rgba(218, 165, 32, 0.678);
}
.color-3:hover{
    color: rgb(185, 95, 22);
}
table{
    font-size: 50px;
    text-align: center;
}
footer{
    height: 60px;
    border-top: 1px solid lightgray;
}
footer p{
    font-size: 30px;
    padding: 15px 0px 0px 30px;
}
@media (max-height: 900px) {
    #header-main h1{
        font-size: 225px;
        text-align: right;
        padding: 3vh 3vw 1vh 3vw;
    }
    header ul{
        font-size: 50px;
        text-decoration: none;
        list-style-type: none;
        text-align: right;
        padding: 5vh 4vw;
    }
}
@media (max-width: 1780px) {
    article p{
        font-size: 30px;
    }
}
@media (max-width: 1545px) {
   img{
    width: 420px;
   }
   article p{
    font-size: 25px;
   }
}
@media (max-width: 1375px) {
   img{
    width: 380px;
   }
    content{
     height: 2200px;
    }
    .content-photo img{
    height: 500px;
    }
    #header-main h1{
    font-size: 150px;
    }
}
@media (max-width:1246px) {
   img{
    width: 350px;
   }
    content{
     height: 2000px;
    }
    #section-main{
        height: 1700px;
       }
       .content-photo img:hover{
        width: 330px;
        height: 480px;
    }
}
@media (max-width:1030px) {
    #section-main{
     height: 1700px;
    }
}
@media (max-width:1170px) {
   img{
    width: 270px;
   }
    content{
     height: 1500px;
    }
    .content-photo img{
    height: 350px;
    }
}
@media (max-width:870px) {
   img{
    width: 240px;
   }
   content{
    height: 1250px;
   }
   #header-main h1{
    font-size: 100px;
    text-align: center;
   }
   header ul{
    text-align: center;
   }
   #header-main{
    background-image: url(images/img-main2.jpg);
   }

}
@media (max-width:780px) {
   img{
    width: 220px;
   }
    content{
     height: 1800px;
    }
   header h1{
    font-size: 80px;
   }
}
